BODY
{
    SCROLLBAR-FACE-COLOR: #ffcc66;
    SCROLLBAR-HIGHLIGHT-COLOR: #996600;
    SCROLLBAR-SHADOW-COLOR: #cc9900;
    SCROLLBAR-3DLIGHT-COLOR: #996600;
    SCROLLBAR-ARROW-COLOR: #996600;
    SCROLLBAR-BASE-COLOR: #cc9900;
    scrollbar-3d-light-color: #996600;
    scrollbar-dark-shadow-color: #996600
    FONT-FAMILY: "Verdana";
    
    BACKGROUND-COLOR: white;
    
}
A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #663300;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #cc9900;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: underline
}
.small
{
    FONT-SIZE: 8pt;
    COLOR: #996600;
    FONT-FAMILY: Tahoma
}
.small-just
{
    FONT-SIZE: 8pt;
    COLOR: #996600;
    FONT-FAMILY: Tahoma;
    TEXT-ALIGN: justify
}
.Ismall
{
    FONT-SIZE: 8pt;
    FONT-STYLE: italic;
    FONT-FAMILY: Tahoma
}
.std
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #996600;
    FONT-FAMILY: Tahoma;
    TEXT-ALIGN: justify
}
.heading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma
}
.bigheading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #996600;
    FONT-FAMILY: Tahoma
}
.bfont
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma
}
.bar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #663300;
    FONT-FAMILY: Tahoma
}
.linija
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #3366cc
}
.tableHead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #663300
}
.table0
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #ffff99;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #663300
}
.table1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffff99;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #cc9900
}
.tableBlue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #336699
}
.medheading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #996600;
    FONT-FAMILY: Tahoma
}
.vrhtab
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
.sub
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma
}
.con
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma
}
.top
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma
}
.over
{
    FONT-SIZE: 46pt;
    Z-INDEX: 2;
    LEFT: 5px;
    COLOR: navy;
    POSITION: absolute;
    TOP: 5px
}
.under
{
    FONT-SIZE: 46pt;
    Z-INDEX: 1;
    LEFT: 10px;
    COLOR: silver;
    POSITION: absolute;
    TOP: 10px
}


div.shadow { 
background: url('cim/shadow.gif') no-repeat top left; 
clear: left; 
float: left; 
margin: 0px 0px 0px 0px; 
padding: 0; 
position: relative; 
} 

  
div.shadow img { 
background-color: #fff; 
border: 1px solid #a9a9a9; 
display: block; 
margin: 5px 0px 15px 13px; 
padding: 0px; 
position: relative; 
} 




div.shadow800 { 
background: url('cim/shadow800.gif') no-repeat top left; 
clear: left; 
float: left; 
margin: 0px 0px 0px 0px; 
padding: 0; 
position: relative; 
}


div.shadow800 img { 
background-color: #fff; 
border: 1px solid #a9a9a9; 
display: block; 
margin: 5px 0px 15px 13px; 
padding: 0px; 
position: relative; 
} 



div.img-ilus { 
background: url('shadow.gif') no-repeat bottom right; 
margin: 0px 0px; 
padding: 0; 
position: relative; 
} 